@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply block mb-1 text-gray-500  font-medium
  }

  .input {
    @apply block w-full p-2 rounded-md shadow-sm border border-gray-300  text-gray-500
  }
  .btn-done {
    @apply bg-green-600 hover:bg-green-500 text-white font-medium p-2 rounded-md
  }

  .btn-primary {
    @apply bg-indigo-600 hover:bg-indigo-500 text-white font-medium p-2 rounded-md
  }
  .input-error {
    @apply text-sm text-red-500 dark:text-red-400
  }
  @font-face {
    font-family: "Zeitung Pro Black";
    src: url("/public/Zeitung.ttf") format("truetype");
  }
  .custom-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 9999;
  }


  
  


  
}
